@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body{

    font-family: 'Roboto Mono', monospace;

    background-color: lightseagreen;

}
h1{ 
    color:black;
 }
p{
     color:black
    }


